<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="write" parameterType="board">
        insert into board_table(boardTitle, boardWriter, boardPassword, boardContents)
        values(#{boardTitle}, #{boardWriter}, #{boardPassword}, #{boardContents})
    </insert>
    <select id="findAll" resultType="board">
        select * from board_table;
    </select>
    <select id="findById" parameterType="long" resultType="board">
        select id, boardTitle, boardWriter, boardContents, boardHits, boardCreatedDate from board_table where id=#{id}
    </select>
    <update id="updateHits" parameterType="long">
        update board_table set boardHits = boardHits+1 where id = #{id}
    </update>



</mapper>
